@page
@model IgnisMercado.Pages.Administradores.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Administrador</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.NormalizedUserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.NormalizedUserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.NormalizedEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.NormalizedEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.EmailConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.EmailConfirmed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.PasswordHash)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.PasswordHash)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.SecurityStamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.SecurityStamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.ConcurrencyStamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.ConcurrencyStamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.PhoneNumberConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.PhoneNumberConfirmed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.TwoFactorEnabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.TwoFactorEnabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.LockoutEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.LockoutEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.LockoutEnabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.LockoutEnabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.AccessFailedCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.AccessFailedCount)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Administrador.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
