@page
@model IgnisMercado.Pages.Usuarios.IndexModel

@using Microsoft.AspNetCore.Identity
@using IgnisMercado.Areas.Identity.Data
@using IgnisMercado.Models
@using IgnisMercado.Models.ClienteViewModels

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (User.IsInRole("Administrador")) 
{
    ViewData["Title"] = "Usuarios";

    <h1>Usuarios</h1>

    <p>
        <a asp-page="Create">Crear nuevo</a>
    </p>
}

@if (User.IsInRole("Cliente") || User.IsInRole("Técnico")) 
{
    ViewData["Title"] = "Mis Datos";

    <h1>Mis Datos</h1>
}

<table class="table">
    <thead>
        <tr>

            @if (User.IsInRole("Administrador")) 
            {
                <th>
                    @Html.DisplayNameFor(model => model.ClienteIdxData.Usuarios[0].Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClienteIdxData.Usuarios[0].Name)
                </th>
                <th>
                    Usuario
                </th>
                <th>
                    Télefono
                </th>
            }

            @if (User.IsInRole("Cliente") || User.IsInRole("Técnico")) 
            {
                <th>
                    @Html.DisplayNameFor(model => model.ClienteIdxData.Usuarios[0].Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClienteIdxData.Usuarios[0].Name)
                </th>
                <th>
                    Usuario
                </th>
                <th>
                    Télefono
                </th>
            }

            <th></th>
        </tr>
    </thead>

    <tbody>

    @foreach (var item in Model.ClienteIdxData.Usuarios) 
    {
        <tr>

            @if (User.IsInRole("Administrador")) 
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <a asp-page="./Index" asp-route-id="@item.Id">Seleccionar</a> | 
                    <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Borrar</a>
                </td>
            }

            @if (User.IsInRole("Cliente") || User.IsInRole("Técnico"))
            {
                // Determinar el usuario logueado, saber su Id.
                var um = UserManager.GetUserId(User);

                // Filtro los datos del usuario, solo ve sus datos, filtro por Id.
                @if (um == item.Id)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        <a asp-page="./Index" asp-route-id="@item.Id">Seleccionar</a> |
                        <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Detalles</a>
                    </td>
                }
            }

        </tr>
    }

    </tbody>
</table>

<!-- PROYECTOS -->

@if (Model.ClienteIdxData.Proyectos != null)
{

<h3>Proyectos</h3>

<table class="table">
    <tr>
        <th></th>
        <th>Título</th>
        <th>Descripción</th>
    </tr>

    @foreach (var item in Model.ClienteIdxData.Proyectos)
    { 
        string selectedRow = "";

        if (item.ProyectoId == Model.ProyectoId)
        {
            selectedRow = "table-success";
        }

        <tr class="@selectedRow">

            <td>
                @Html.ActionLink("Seleccionar", "OnGetAsync", 
                            new { id = SignInManager.IsSignedIn(User), item.ProyectoId } )
            </td>

            <td>
                @item.Nombre
            </td>

            <td>
                @item.Descripcion
            </td>
        </tr>
    }

</table>
}

<!-- SOLICITUDES -->

@if (Model.ClienteIdxData.Solicitudes != null)
{

<h3>Solicitudes</h3>

<table class="table">
    <tr>
        <th>Rol Requerido</th>
        <th>Nivel Experiencia</th>
        <th>Modo De Contrato</th>
        <th>Horas Contratadas</th>
        <th>Costo de la Solicitud</th>
    </tr>

    @foreach (var item in Model.ClienteIdxData.Solicitudes)
    { 
        <tr>
            <td>
                @item.RolRequerido
            </td>
            <td>
                @item.NivelExperiencia
            </td>
            
            @if ((item.ModoDeContrato) == 1)
            {
                <td>Jornada</td>
            }
            else
            {
                <td>Hora</td>
            }
            
            <td>
                @item.HorasContratadas
            </td>
            <td>
                @Html.Raw(String.Format("{0:C}", item.costoSolicitud))
            </td>
        </tr>
    }
</table>
}
