@page
@model IgnisMercado.Pages.Usuarios.IndexModel
@using Microsoft.AspNetCore.Identity
@using IgnisMercado.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (User.IsInRole("Administrador")) 
{
    ViewData["Title"] = "Usuarios";

    <h1>Usuarios</h1>

    <p>
        <a asp-page="Create">Crear nuevo</a>
    </p>
}

@if (User.IsInRole("Cliente") || User.IsInRole("Técnico")) 
{
    ViewData["Title"] = "Mis Datos";

    <h1>Mis Datos</h1>
}

<table class="table">
    <thead>
        <tr>

            @if (User.IsInRole("Administrador")) 
            {
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUser[0].Name)
                </th>
                <th>
                    Nombre de Usuario
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUser[0].Role)
                </th>
                <th>
                    Télefono
                </th>
            }

            @if (User.IsInRole("Cliente") || User.IsInRole("Técnico")) 
            {
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUser[0].Name)
                </th>
                <th>
                    Nombre de Usuario
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUser[0].Role)
                </th>
                <th>
                    Télefono
                </th>
            }

            <th></th>
        </tr>
    </thead>

    <tbody>
@foreach (var item in Model.ApplicationUser) 
{
        <tr>

            @if (User.IsInRole("Administrador")) 
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Borrar</a>
                </td>
            }

            @if (User.IsInRole("Cliente") || User.IsInRole("Técnico"))
            {
                // Determinar el usuario logueado, saber su Id.
                var um = UserManager.GetUserId(User);

                // Filtro los datos del usuario, solo ve sus datos, filtro por Id.
                @if (um == item.Id)
                {
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Detalles</a>
                </td>
                }
            }

        </tr>
}
    </tbody>
</table>
