@page
@model IgnisMercado.Pages.Solicitudes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Solicitud[0].modoDeContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solicitud[0].rolRequerido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solicitud[0].horasContratadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solicitud[0].nivelExperiencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solicitud[0].observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solicitud[0].costoSolicitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solicitud[0].status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Solicitud) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.modoDeContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rolRequerido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.horasContratadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nivelExperiencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costoSolicitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
