@page
@model RazorPagesIgnis.Pages.tecnicoSolicitudes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TecnicoSolicitud[0].Tecnico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TecnicoSolicitud[0].Solicitud)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TecnicoSolicitud) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tecnico.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solicitud.ID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
