@page
@model IgnisMercado.Pages.Proyectos.IndexModel

@using Microsoft.AspNetCore.Identity
@using IgnisMercado.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (User.IsInRole("Administrador"))
{
    ViewData["Title"] = "Proyectos";

    <h1>Proyectos</h1>
}

@if (User.IsInRole("Cliente") || User.IsInRole("Técnico")) 
{
    ViewData["Title"] = "Mis Proyectos";

    <h1>Mis Proyectos</h1>
}

@if (User.IsInRole("Administrador") || User.IsInRole("Cliente")) 
{
<p>
    <a asp-page="Create">Crear nuevo</a>
</p>
}

<table class="table">
    <thead>
        <tr>

        @if (User.IsInRole("Administrador")) 
        {
            <th>
                @Html.DisplayNameFor(model => model.ClienteIdxData.Proyectos[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteIdxData.Proyectos[0].Descripcion)
            </th>
        }

        @if (User.IsInRole("Cliente") || User.IsInRole("Técnico")) 
        {
            <th>
                @Html.DisplayNameFor(model => model.ClienteIdxData.Proyectos[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteIdxData.Proyectos[0].Descripcion)
            </th>
        }
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        <tr>    
            @foreach (var item in Model.ClienteIdxData.Proyectos) 
            {
                @if (User.IsInRole("Administrador")) 
                { 
                    string selectedRow = "";

                    if (item.ProyectoId == Model.ProyectoId)
                    {
                        selectedRow = "table-success";
                    }

                    <tr class="@selectedRow">
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            <a asp-page="./Index" asp-route-id="@item.ProyectoId">Seleccionar</a> | 
                            <a asp-page="./Edit" asp-route-id="@item.ProyectoId">Editar</a> | 
                            <a asp-page="./Details" asp-route-id="@item.ProyectoId">Detalles</a> | 
                            <a asp-page="./Delete" asp-route-id="@item.ProyectoId">Borrar</a>
                        </td>
                    </tr>
                }

                @if (User.IsInRole("Cliente") || User.IsInRole("Técnico")) 
                {
                    string selectedRow = "";

                    if (item.ProyectoId == Model.ProyectoId)
                    {
                        selectedRow = "table-success";
                    }

                    <tr class="@selectedRow">
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            <a asp-page="./Index" asp-route-id="@item.ProyectoId">Seleccionar</a> | 
                            <a asp-page="./Edit" asp-route-id="@item.ProyectoId">Editar</a> |
                            <a asp-page="./Details" asp-route-id="@item.ProyectoId">Detalles</a>
                        </td>
                    </tr>
                }
            }
        </tr>
    </tbody>
</table>

<!-- SOLICITUDES -->

@if (Model.ClienteIdxData.Solicitudes != null)
{

<h3>Solicitudes</h3>

<table class="table">
    <tr>
        <th>Rol Requerido</th>
        <th>Nivel Experiencia</th>
        <th>Modo de Contrato</th>
        <th>Horas Contratadas</th>
        <th>Costo de la Solicitud</th>
    </tr>

    @foreach (var item in Model.ClienteIdxData.Solicitudes)
    { 
        <tr>
            <td>
                @item.RolRequerido
            </td>
            <td>
                @item.NivelExperiencia
            </td>
            
            @if ((item.ModoDeContrato) == 1)
            {
                <td>Jornada</td>
            }
            else
            {
                <td>Hora</td>
            }
            
            <td>
                @item.HorasContratadas
            </td>
            <td>
                @Html.Raw(String.Format("{0:C}", item.costoSolicitud))
            </td>
        </tr>
    }
</table>
}
