@page
@model IgnisMercado.Pages.Clientes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.NormalizedUserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.NormalizedUserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.NormalizedEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.NormalizedEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.EmailConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.EmailConfirmed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.PasswordHash)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.PasswordHash)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.SecurityStamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.SecurityStamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.ConcurrencyStamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.ConcurrencyStamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.PhoneNumberConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.PhoneNumberConfirmed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.TwoFactorEnabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.TwoFactorEnabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.LockoutEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.LockoutEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.LockoutEnabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.LockoutEnabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.AccessFailedCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.AccessFailedCount)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Cliente.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
